.shop {
  margin: 0;
  padding: 0;
  width: 720px;
  height: 256px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
  position: absolute;
  left: 128px;
  bottom: 24px;

  &__header {
    margin: 0;
    padding: 10px 16px 0 16px;
    display: flex;
    gap: 26px;
  }

  &__title {
    margin: 0;
    padding: 0 0 5px 0;
    display: flex;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;

    &:hover {
      padding-bottom: 7px;
      border-bottom: 1px solid white;
    }

    &_active {
      border-bottom: 3px solid white;
      animation: slows 0.1s linear;

      &:hover {
        padding-bottom: 5px;
        border-bottom: 3px solid white;
      }
    }
  }

}