.players {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &_big {
    height: 728px;
  }

  &_short {
    height: 628px;
  }

  &_unvisible {
    display: none;
  }
  
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #B6ADAE;    /* цвет плашки */
    border-radius: 2px;       /* закругления плашки */
  }
  
}