.players {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: absolute;

  &_big {
    height: 731px;
  }

  &_short {
    height: 635px;
  }

  &_visible {
    animation: players-show 1s ease-in forwards;
  }

  &_unvisible {
    animation: players-hide 4s ease-in forwards;
  }
  
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #B6ADAE;    /* цвет плашки */
    border-radius: 2px;       /* закругления плашки */
  }
  
  @keyframes players-hide {
    from {
      margin-top: 0;
      z-index: 100;
    }
    to {
      margin-top: 800px;
      z-index: 100;
    }
  }

  @keyframes players-show {
    from {
      margin-top: 100px;
      z-index: 0;
    }
    to {
      margin-top: 0;
      z-index: 0;
    }
  }
}