.profile {
  &__medals {
    margin: 0;
    padding: 0;
    height: 40px;
    display: flex;
    align-items: center;
  }
}

.medal-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
  justify-content: start;
  list-style-type: none;
  grid-area: medals; 
}