@import "../vendor/fonts/fonts.css";
@import "../vendor/normalize.css";
.page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  overflow: hidden;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.menu {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.leftBar {
  width: 95px;
  height: 1080px;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: transparent;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
}
.leftBar__list {
  height: 1080px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  list-style-type: none;
}
.leftBar__item {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 95px;
}
.leftBar__item:nth-of-type(1) {
  padding-bottom: 2px;
}
.leftBar__item:nth-of-type(3) {
  padding-bottom: 2px;
}
.leftBar__item:last-of-type {
  margin-top: auto;
}
.leftBar__icon {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.leftBar__icon:hover {
  filter: brightness(20%);
}

.rightBar {
  width: 385px;
  height: 1080px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
}

.profile {
  margin: 0;
  padding: 15px 15px 10px 15px;
  display: grid;
  column-gap: 15px;
  grid-template-columns: 66px auto;
  grid-template-areas: "avatar name" "avatar medals";
}
.profile__avatar {
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
  grid-area: avatar;
}
.profile__name {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  color: white;
  font-size: 18px;
  grid-area: name;
}
.profile__medal-list {
  margin: 0;
  padding: 4px;
  display: flex;
  gap: 12px;
  justify-content: start;
  list-style-type: none;
  grid-area: medals;
}
.profile__logo {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
}

.experience {
  margin: 0;
  padding: 0 15px 0 15px;
  display: grid;
  column-gap: 15px;
  grid-template-columns: 66px auto;
  grid-template-areas: "logo title" "logo progress";
}
.experience__logo {
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  grid-area: logo;
}
.experience__title {
  margin: 0;
  padding: 10px 0 0 10px;
  width: 100%;
  display: flex;
  justify-self: flex-start;
  align-self: flex-end;
  color: white;
  font-size: 17px;
  grid-area: title;
}
.experience__progress {
  margin: 0 0 0 15px;
  padding: 0;
  height: 20px;
  width: 255px;
  grid-area: progress;
}

.rank {
  margin: 0;
  padding: 5px 10px 10px 10px;
  display: flex;
  align-items: center;
}
.rank__logo {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 33px;
}
.rank__title {
  margin: 0 0 0 18px;
  padding: 0;
  display: flex;
  color: white;
  font-size: 16px;
}
.rank__arrow {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  width: 14px;
  height: 8px;
}

/*# sourceMappingURL=index.css.map */
