@charset "UTF-8";
@import "../vendor/fonts/fonts.css";
@import "../vendor/normalize.css";
.page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  overflow: hidden;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.menu {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.leftBar {
  width: 95px;
  height: 1080px;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1.5;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
}
.leftBar__list {
  height: 1080px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  list-style-type: none;
}
.leftBar__item {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 95px;
}
.leftBar__item:nth-of-type(1) {
  padding-bottom: 2px;
}
.leftBar__item:nth-of-type(3) {
  padding-bottom: 2px;
}
.leftBar__item:last-of-type {
  margin-top: auto;
  margin-bottom: 100px;
}
.leftBar__icon {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.leftBar__icon:hover {
  filter: brightness(20%);
}

.rightBar {
  width: 385px;
  height: 1080px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: black;
  position: absolute;
  top: 0;
  right: -290px;
  background-color: rgba(0, 101, 252, 0.726);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(211, 211, 211, 0.6), rgba(0, 0, 0, 0.7));
  backdrop-filter: blur(20px);
  transition: 0.2s linear;
}
.rightBar__main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgba(211, 211, 211, 0.5);
}
.rightBar__sub {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.rightBar:hover {
  right: 0;
}

.profile {
  margin: 0;
  padding: 18px 15px 0 15px;
  display: grid;
  column-gap: 15px;
  grid-template-columns: 66px auto;
  grid-template-areas: "avatar name" "avatar medals";
}
.profile__avatar {
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  grid-area: avatar;
  animation: avatar-border-off 0.1s linear;
}
.profile__avatar:hover {
  border: 4px solid white;
  animation: avatar-border-on 0.1s linear;
}
.profile__name {
  margin: 0;
  padding: 0;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  color: white;
  font-size: 18px;
  line-height: 1;
  grid-area: name;
}
.profile__arrows {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.profile__arrow {
  margin: 0;
  padding: 0;
  opacity: 0.5;
}
.profile__arrow_active {
  opacity: 1;
}
@keyframes avatar-border-on {
  from {
    border: 0 solid white;
  }
  to {
    border: 4px solid white;
  }
}
@keyframes avatar-border-off {
  from {
    border: 4px solid white;
  }
  to {
    border: 0 solid white;
  }
}

.experience {
  margin: 0;
  padding: 8px 15px 2px 15px;
  display: grid;
  column-gap: 15px;
  row-gap: 0px;
  grid-template-columns: 66px auto;
  grid-template-areas: "logo title" "logo progress";
}
.experience__logo {
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  grid-area: logo;
}
.experience__title {
  margin: 0;
  padding: 6px 0 0 10px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-self: flex-start;
  align-self: flex-end;
  color: white;
  font-size: 17px;
  grid-area: title;
}
.experience__progress {
  margin: 0 0 0 10px;
  padding: 0;
  height: 20px;
  width: 260px;
  display: flex;
  grid-area: progress;
}

.rank {
  margin: 0;
  padding: 6px 10px;
  align-items: center;
}
.rank__title {
  margin: 0;
  padding: 0;
  height: 38px;
}
.rank_visible {
  margin-bottom: 4px;
  display: flex;
}
.rank_first {
  display: flex;
  animation: downup1 0.4s ease-in forwards;
}
.rank_second {
  display: flex;
  animation: downup2 0.4s ease-in forwards;
}
.rank_first-visible {
  display: flex;
  visibility: visible;
  animation: updown1 0.4s ease;
}
.rank_second-visible {
  display: flex;
  visibility: visible;
  animation: updown2 0.4s ease-in;
}
@keyframes updown1 {
  from {
    margin-top: -5px;
  }
  to {
    margin-top: 0px;
  }
}
@keyframes updown2 {
  from {
    margin-top: -40px;
  }
  to {
    margin-top: 0px;
  }
}
@keyframes downup1 {
  from {
    margin-top: 0px;
  }
  50% {
    visibility: hidden;
    margin-top: -5px;
    margin-bottom: 5px;
    height: 100%;
  }
  to {
    visibility: hidden;
    margin-top: -5px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    height: 0;
  }
}
@keyframes downup2 {
  from {
    margin-top: 0px;
  }
  50% {
    visibility: hidden;
    margin-top: -40px;
    margin-bottom: 40px;
    height: 100%;
  }
  90% {
    height: 0;
  }
  to {
    visibility: hidden;
    margin-top: -35px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    height: 0;
  }
}
.rank__logo {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 33px;
}
.rank__title {
  margin: 0 0 0 18px;
  padding: 0;
  display: flex;
  color: white;
  font-size: 16px;
}
.rank__arrow {
  margin: 0;
  padding: 6px 2px;
  margin-left: auto;
  display: flex;
  width: 14px;
  height: 8px;
}
.rank__arrow_up {
  transform: rotate(180deg);
}
.rank__arrow_left {
  transform: rotate(90deg);
}
.rank__arrow_right {
  transform: rotate(270deg);
}

.profile__medals {
  margin: 0;
  padding: 0;
  height: 40px;
  display: flex;
  align-items: center;
}

.medal-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
  justify-content: start;
  list-style-type: none;
  grid-area: medals;
}

.medal-list__logo {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
}

.frame {
  margin: 0;
  padding: 0;
  animation: rightleft 0.25s linear forwards;
}
.frame_visible {
  display: flex;
}
.frame_unvisible {
  display: flex;
  position: absolute;
  margin-right: -385px;
  margin-left: 385px;
  opacity: 0;
  animation: leftright 0.25s linear;
}
.frame_big {
  height: 800px;
  top: 280px;
}
.frame_short {
  height: 700px;
  top: 380px;
}
@keyframes rightleft {
  from {
    margin-right: -250px;
    margin-left: 250px;
    opacity: 0;
  }
  to {
    margin-right: 0px;
    margin-left: 0px;
    opacity: 1;
  }
}
@keyframes leftright {
  from {
    margin-right: 0px;
    margin-left: 0px;
    opacity: 1;
  }
  to {
    margin-right: -250px;
    margin-left: 250px;
    opacity: 0;
  }
}

.rightBar:hover .tools__item_1 {
  opacity: 1;
  position: absolute;
  left: 20px;
  animation: none;
}
.rightBar:hover .tools__item_2 {
  opacity: 1;
  position: absolute;
  left: 117px;
  animation: slide-right-2 0.2s linear forwards;
}
.rightBar:hover .tools__item_3 {
  opacity: 1;
  position: absolute;
  left: 214px;
  animation: slide-right-3 0.2s linear forwards;
}
.rightBar:hover .tools__item_4 {
  opacity: 1;
  position: absolute;
  left: 311px;
  animation: slide-right-4 0.2s linear forwards;
}
.rightBar:hover .tools__item_1_active {
  opacity: 1;
  position: absolute;
  left: 20px;
}
.rightBar:hover .tools__item_2_active {
  opacity: 1;
  position: absolute;
  left: 117px;
}
.rightBar:hover .tools__item_3_active {
  opacity: 1;
  position: absolute;
  left: 214px;
}
.rightBar:hover .tools__item_4_active {
  opacity: 1;
  position: absolute;
  left: 311px;
}

.tools {
  margin: 0;
  padding: 0 10px 0 20px;
  height: 64px;
  display: flex;
  gap: 33px;
  position: relative;
  justify-content: right;
  list-style-type: none;
  align-items: center;
}
.tools__item {
  margin: 0;
  padding: 0;
  width: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tools__item:hover .tools__underline {
  margin-top: 4px;
  height: 1px;
  background-color: white;
}
.tools__item:hover .tools__underline_active {
  margin-top: 0;
  height: 5px;
  background-color: white;
}
.tools__item_1 {
  padding: 0;
  position: absolute;
  left: 20px;
  opacity: 0;
}
.tools__item_1_active {
  opacity: 1;
  position: absolute;
  left: 20px;
}
.tools__item_2 {
  padding: 0;
  position: absolute;
  left: 117px;
  opacity: 0;
}
.tools__item_2_active {
  opacity: 1;
  position: absolute;
  left: 20px;
  animation: slide-left-2 0.2s linear forwards;
}
.tools__item_3 {
  padding: 0;
  position: absolute;
  left: 214px;
  opacity: 0;
}
.tools__item_3_active {
  opacity: 1;
  position: absolute;
  left: 20px;
  animation: slide-left-3 0.2s linear forwards;
}
.tools__item_4 {
  padding: 0;
  position: absolute;
  left: 311px;
  opacity: 0;
}
.tools__item_4_active {
  opacity: 1;
  position: absolute;
  left: 20px;
  animation: slide-left-4 0.2s linear forwards;
}
@keyframes slide-left-2 {
  from {
    position: absolute;
    left: 117px;
  }
  to {
    position: absolute;
    left: 20px;
  }
}
@keyframes slide-left-3 {
  from {
    position: absolute;
    left: 214px;
  }
  to {
    position: absolute;
    left: 20px;
  }
}
@keyframes slide-left-4 {
  from {
    position: absolute;
    left: 311px;
  }
  to {
    position: absolute;
    left: 20px;
  }
}
@keyframes slide-right-2 {
  from {
    position: absolute;
    left: 20px;
  }
  to {
    position: absolute;
    left: 117px;
  }
}
@keyframes slide-right-3 {
  from {
    position: absolute;
    left: 20px;
  }
  to {
    position: absolute;
    left: 214px;
  }
}
@keyframes slide-right-4 {
  from {
    position: absolute;
    left: 20px;
  }
  to {
    position: absolute;
    left: 311px;
  }
}
.tools__underline {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5px;
  background-color: transparent;
}
.tools__underline_active {
  margin-top: 0;
  height: 5px;
  background-color: white;
  animation: slow 0.2s linear;
}
@keyframes slow {
  from {
    margin-top: 4px;
    height: 1px;
  }
  to {
    margin-top: 0px;
    height: 5px;
  }
}

.friends {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.friends_big {
  height: 798px;
}
.friends_short {
  height: 698px;
}
.friends::-webkit-scrollbar {
  width: 8px;
}
.friends::-webkit-scrollbar-track {
  background: transparent; /* цвет дорожки */
}
.friends::-webkit-scrollbar-thumb {
  background-color: #B6ADAE; /* цвет плашки */
  border-radius: 2px; /* закругления плашки */
}

.friend {
  margin: 0;
  padding: 8px 0 8px 0;
  border-left: 6px solid transparent;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 77px auto;
  column-gap: 20px;
  grid-template-areas: "avatar name" "avatar status";
}
.friend:hover {
  cursor: default;
  border-left: 6px solid white;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
.friend__avatar {
  margin: 0 0 0 18px;
  padding: 0;
  grid-area: avatar;
  border-left: 5px solid #30779D;
}
.friend__avatar_play {
  border-left: 5px solid #47A04C;
}
.friend__name {
  margin: 0;
  padding: 0;
  display: flex;
  color: white;
  font-size: 15px;
  grid-area: name;
}
.friend__status {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 14px;
  color: lightgray;
  text-shadow: 1px 1px darkgrey;
  grid-area: status;
}

.players {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.players_big {
  height: 728px;
}
.players_short {
  height: 628px;
}
.players::-webkit-scrollbar {
  width: 8px;
}
.players::-webkit-scrollbar-track {
  background: transparent; /* цвет дорожки */
}
.players::-webkit-scrollbar-thumb {
  background-color: #B6ADAE; /* цвет плашки */
  border-radius: 2px; /* закругления плашки */
}

.player {
  margin: 0;
  padding: 8px 24px 8px 0;
  border-left: 6px solid transparent;
  display: grid;
  column-gap: 8px;
  align-items: center;
  grid-template-columns: 77px 20px 50px auto 1fr;
  grid-template-areas: "avatar name name name message" "avatar prime rank country message";
}
.player:hover {
  cursor: default;
}
.player__avatar {
  margin: 0 0 0 18px;
  padding: 0;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  grid-area: avatar;
  animation: avatar-border-off 0.1s ease-in forwards;
}
.player__avatar:hover {
  border: 4px solid white;
  animation: avatar-border-on 0.1s ease-in forwards;
}
.player__name {
  margin: 0;
  padding: 0;
  height: 24px;
  display: flex;
  color: white;
  font-size: 15px;
  grid-area: name;
}
.player__prime {
  margin: 0;
  padding: 0;
  grid-area: prime;
}
.player__rank {
  margin: 0;
  padding: 0;
  grid-area: rank;
}
.player__country {
  margin: 0;
  padding: 0;
  grid-area: country;
}
.player__message {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  justify-self: end;
  animation: message-opacity-down 0.3s ease-in forwards;
  grid-area: message;
}
.player__message:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  animation: message-opacity-up 0.3s ease-in forwards;
}
@keyframes message-opacity-up {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@keyframes message-opacity-down {
  from {
    background-color: rgba(0, 0, 0, 0.2);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
@keyframes avatar-border-on {
  from {
    border: 0 solid white;
  }
  to {
    border: 4px solid white;
  }
}
@keyframes avatar-border-off {
  from {
    border: 4px solid white;
  }
  to {
    border: 0 solid white;
  }
}

.search {
  margin: 0;
  padding: 0;
  width: 100%;
}
.search__up {
  margin: 0 20px;
  padding: 12px;
  display: flex;
  gap: 8px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.search__logo {
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  animation: search-opacity-down 0.3s ease-in forwards;
}
.search__logo:last-of-type {
  margin-left: auto;
}
.search__logo:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  animation: search-opacity-up 0.3s ease-in forwards;
}
.search__logo_active {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  animation: none;
}
.search__logo_active:hover {
  background-color: rgba(0, 0, 0, 0.2);
  animation: none;
}
@keyframes search-opacity-up {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@keyframes search-opacity-down {
  from {
    background-color: rgba(0, 0, 0, 0.2);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
.search__progress {
  margin: 0 4px;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.search__progress_visible {
  animation: progress-visible 3s ease-in forwards;
}
.search__progress-bar {
  margin: 0;
  padding: 0 4px;
  width: 30%;
  height: 100%;
  background-color: white;
}
.search__progress-bar_active {
  animation: progress-up 3s linear;
}
@keyframes progress-visible {
  from {
    height: 0;
    opacity: 0;
  }
  10% {
    height: 6px;
    opacity: 1;
  }
  90% {
    height: 6px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}
@keyframes progress-up {
  from {
    width: 0%;
  }
  10% {
    width: 20%;
  }
  90% {
    width: 90%;
  }
  to {
    width: 100%;
  }
}

.messages {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.messages__up {
  margin: 0 20px;
  padding: 20px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.messages__logo {
  margin: 0;
  padding: 0;
  display: flex;
  width: 26px;
  height: 26px;
}

/*# sourceMappingURL=index.css.map */
