@charset "UTF-8";
@import "../vendor/fonts/fonts.css";
@import "../vendor/normalize.css";
.page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  overflow: hidden;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.menu {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.leftBar {
  width: 95px;
  height: 1080px;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1.5;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
}
.leftBar__list {
  height: 1080px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  list-style-type: none;
}
.leftBar__item {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 95px;
}
.leftBar__item:nth-of-type(1) {
  padding-bottom: 2px;
}
.leftBar__item:nth-of-type(3) {
  padding-bottom: 2px;
}
.leftBar__item:last-of-type {
  margin-top: auto;
  margin-bottom: 100px;
}
.leftBar__icon {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.leftBar__icon:hover {
  filter: brightness(20%);
}

.rightBar {
  width: 385px;
  height: 1080px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: black;
  position: absolute;
  top: 0;
  right: -290px;
  background-color: rgba(0, 101, 252, 0.726);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(211, 211, 211, 0.6), rgba(0, 0, 0, 0.7));
  backdrop-filter: blur(20px);
  transition: 0.18s linear;
}
.rightBar__main {
  margin: 0;
  padding: 0 0 5px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgba(211, 211, 211, 0.5);
}
.rightBar__sub {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.rightBar:hover {
  right: 0;
}

.profile {
  margin: 0;
  padding: 15px 15px 10px 15px;
  display: grid;
  column-gap: 15px;
  grid-template-columns: 66px auto;
  grid-template-areas: "avatar name" "avatar medals";
}
.profile__avatar {
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
  grid-area: avatar;
}
.profile__name {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  color: white;
  font-size: 18px;
  grid-area: name;
}
.profile__medal-list {
  margin: 0;
  padding: 4px;
  display: flex;
  gap: 12px;
  justify-content: start;
  list-style-type: none;
  grid-area: medals;
}
.profile__logo {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
}

.experience {
  margin: 0;
  padding: 0 15px 0 15px;
  display: grid;
  column-gap: 15px;
  row-gap: 0px;
  grid-template-columns: 66px auto;
  grid-template-areas: "logo title" "logo progress";
}
.experience__logo {
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  grid-area: logo;
}
.experience__title {
  margin: 0;
  padding: 6px 0 0 10px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-self: flex-start;
  align-self: flex-end;
  color: white;
  font-size: 17px;
  grid-area: title;
}
.experience__progress {
  margin: 0 0 0 10px;
  padding: 0;
  height: 20px;
  width: 260px;
  display: flex;
  grid-area: progress;
}

.rank {
  margin: 0;
  padding: 5px 10px 10px 10px;
  align-items: center;
}
.rank_visible {
  display: flex;
}
.rank_first {
  display: flex;
  animation: downup1 0.4s ease-in forwards;
}
.rank_second {
  display: flex;
  animation: downup2 0.4s ease-in forwards;
}
.rank_first-visible {
  display: flex;
  visibility: visible;
  animation: updown1 0.4s ease;
}
.rank_second-visible {
  display: flex;
  visibility: visible;
  animation: updown2 0.4s ease-in;
}
@keyframes updown1 {
  from {
    margin-top: -5px;
  }
  to {
    margin-top: 0px;
  }
}
@keyframes updown2 {
  from {
    margin-top: -40px;
  }
  to {
    margin-top: 0px;
  }
}
@keyframes downup1 {
  from {
    margin-top: 0px;
  }
  50% {
    visibility: hidden;
    margin-top: -5px;
    margin-bottom: 5px;
    height: 100%;
  }
  to {
    visibility: hidden;
    margin-top: -5px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    height: 0;
  }
}
@keyframes downup2 {
  from {
    margin-top: 0px;
  }
  50% {
    visibility: hidden;
    margin-top: -40px;
    margin-bottom: 40px;
    height: 100%;
  }
  90% {
    height: 0;
  }
  to {
    visibility: hidden;
    margin-top: -35px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    height: 0;
  }
}
.rank__logo {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 33px;
}
.rank__title {
  margin: 0 0 0 18px;
  padding: 0;
  display: flex;
  color: white;
  font-size: 16px;
}
.rank__arrow {
  margin: 0;
  padding: 6px 2px;
  margin-left: auto;
  display: flex;
  width: 14px;
  height: 8px;
}
.rank__arrow_up {
  transform: rotate(180deg);
}

.tools {
  margin: 0;
  padding: 0 10px 0 20px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}
.tools__item {
  margin: 0;
  padding: 0;
  width: 64px;
  display: flex;
  justify-content: center;
}
.tools__item_active {
  border-bottom: 6px solid white;
}

.friends {
  margin: 0;
  padding: 0;
  height: 800px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.friends_short {
  height: 700px;
}
.friends::-webkit-scrollbar {
  width: 8px;
}
.friends::-webkit-scrollbar-track {
  background: transparent; /* цвет дорожки */
}
.friends::-webkit-scrollbar-thumb {
  background-color: #B6ADAE; /* цвет плашки */
  border-radius: 2px; /* закругления плашки */
}

.friends {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.friends__item {
  margin: 0;
  padding: 10px 0 6px 0;
  border-left: 6px solid transparent;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 77px auto;
  column-gap: 20px;
  grid-template-areas: "avatar name" "avatar status";
}
.friends__item:hover {
  cursor: default;
  border-left: 6px solid white;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
.friends__avatar {
  margin: 0 0 0 18px;
  padding: 0;
  grid-area: avatar;
  border-left: 5px solid #30779D;
}
.friends__name {
  margin: 0;
  padding: 0;
  display: flex;
  color: white;
  font-size: 15px;
  grid-area: name;
}
.friends__status {
  margin: 0;
  padding: 0;
  display: flex;
  color: lightgray;
  text-shadow: 1px 1px darkgrey;
  grid-area: status;
}

/*# sourceMappingURL=index.css.map */
