.regym {

  &_competitive {
  }

  &_visible {
  }

  &__settings {

    &_competitive {
    }
  }

  &__main {
    &_competitive {
    }
  }

  &__maps {
    &_competitive {
    }
  }
  
}

.wrapper {

  &_competitive {
    &:nth-child(3) {
      margin-left: auto;
    }
  }
}

.filters {
  margin: 0;
  padding: 10px 12px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-right: 1px solid $line_color;

  &__templates-block {
    margin: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    padding: 12px;
    display: flex;
    font-size: 16px;
    color: lightgray;
    
  }

  &__templates {
    margin: 0;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  &__template {
    margin: 0;
    padding: 8px;
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    transition: all 0.2s linear;
    
    &_active {
      background-color: rgba($color: #8B847D, $alpha: 1);      
      color: black;
    }

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.15);      
    }
  }

  &__template-text {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  &__actions-block {
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &__actions {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  &__action {
    margin: 0;
    padding: 8px;
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    gap: 8px;
    color: white;
    transition: all 0.2s linear;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.15);      
    }
  }

  &__action-icon {
    margin: 0;
    padding: 0;
    display: flex;
    width: 18px;
    height: 18px;
  }

  &__action-text {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 14px;   
  }

}

.maps {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  box-sizing: border-box;
  justify-content: center;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;        // цвет дорожки 
  }
  &::-webkit-scrollbar-thumb {
    background-color: #B6ADAE;    // цвет плашки 
    border-radius: 2px;       // закругления плашки 
  }
}