.regym {
  margin: 0;
  padding: 0;
  height: 100%;
  display: none;
  flex-direction: column;

  &_visible {
    display: flex;
  }

  &__settings {
    margin: 0;
    padding: 0 33px;
    display: flex;
    gap: 20px;
    align-items: center;
    min-height: 63px;
    border-top: 1px solid $line_color;
    border-bottom: 1px solid $line_color;

  }

  &__main {
    margin: 0;
    padding: 24px 0;
    display: flex;
    max-height: 696px;
    justify-content: center;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.2);

    animation: soft-regym-switch 0.2s linear forwards;
  }

  &__maps {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    column-gap: 32px;
    row-gap: 48px;
    grid-template-columns: repeat(5, 224px);
    grid-auto-rows: 262px;
    //grid-auto-flow: row;
    
  }

}

.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
}

@keyframes soft-regym-switch {
  from {
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
  }
  50% {
    opacity: 0;
    padding-left: 400px;
    padding-right: -400px;
  }
  51% {
    opacity: 0;
    padding-left: 400px;
    padding-right: -400px;
  }
  to {
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
  }
}