.regym {
  margin: 0;
  padding: 0;
  height: 100%;
  display: none;
  flex-direction: column;

  &_visible {
    display: flex;
  }

  &__settings {
    margin: 0;
    padding: 0 33px;
    display: flex;
    gap: 20px;
    align-items: center;
    min-height: 63px;
    border-top: 1px solid $line_color;
    border-bottom: 1px solid $line_color;
  }

  &__main-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__main {
    margin: 0;
    padding: 24px 0;
    display: flex;
    max-height: 696px;
    justify-content: center;
    flex: 1;
    animation: soft-regym-switch 0.3s linear forwards;
  }

  &__maps {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    column-gap: 32px;
    row-gap: 48px;
    grid-template-columns: repeat(5, 224px);
    grid-auto-rows: 262px;
    //grid-auto-flow: row;
    
  }

}

.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
}

@keyframes soft-regym-switch {
  from {
    opacity: 0.1;
    padding-left: 200px;
    padding-right: -200px;
    //background-color: rgba($color: #000000, $alpha: 1);
  }
  to {
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
    //background-color: rgba($color: #000000, $alpha: 0.2);
  }
}