.regym {

  &_usual-bots {
  }

  &_visible {
  }

  &__settings {

    &_usual-bots {
    }
  }

  &__main {
    &_usual-bots {
      overflow-y: auto;
    }
  }

  &__maps {
    &_usual-bots {
      grid-template-columns: repeat(5, 224px);
    }
  }
  
}

.wrapper {

  &_usual-bots {
    &:nth-child(1) {
      margin-left: auto;
    }
  }
}