.setup-popup {


  &__fieldset {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    border: none;
  }

  &__label {
    margin: 0;
    padding: 0;
    display: grid;
    column-gap: 16px;
    row-gap: 2px;
    grid-template-areas: 
      "input  title"
      "input  subtitle"
    ;
    color: white;
  }

  &__input {
    margin: 0;
    padding: 2px;
    width: 25px;
    height: 25px;
    display: flex;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    background-clip: content-box;
    grid-area: input;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked {
      background-color: white;
    }
  }

  &__input-title {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    grid-area: title;
  }

  &__input-subtitle {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    grid-area: subtitle;
  }
}
