.friends {
  margin: 0;
  padding: 0;
  height: 800px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  animation: rightleft 0.25s linear forwards,
             leftright 0.1s linear ;

  &_unvisible {
    display: none;
  }

  &_short {
    height: 700px;
  }

  @keyframes rightleft {
    from {
      margin-right: -250px;
      margin-left: 250px;
      opacity: 0;
    }
    to {
      margin-right: 0px;
      margin-left: 0px;
      opacity: 1;
    }
  }

  @keyframes leftright {
    from {
      margin-right: 0px;
      margin-left: 0px;
      opacity: 1;
    }
    to {
      margin-right: -250px;
      margin-left: 250px;
      opacity: 0;
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #B6ADAE;    /* цвет плашки */
    border-radius: 2px;       /* закругления плашки */
  }
  
}