.search {
  margin: 0;
  padding: 0;
  width: 100%;

  &__up {
    margin: 0 20px;
    padding: 12px;
    display: flex;
    gap: 8px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  &__logo {
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    animation: search-opacity-down 0.3s ease-in forwards;

    &:last-of-type {
      margin-left: auto;
    }



    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      animation: search-opacity-up 0.3s ease-in forwards;
    }

    &_active {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      animation: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        animation: none;
      }
    }

    @keyframes search-opacity-up {
      from {
        background-color: rgba(0, 0, 0, 0);
      }
      to {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    @keyframes search-opacity-down {
      from {
        background-color: rgba(0, 0, 0, 0.2);
      }
      to {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }

  &__progress {
    margin: 0 4px;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    
    &_visible {
      animation: progress-visible 3s ease-in forwards;
    }
  }

  &__progress-bar{
    margin: 0;
    padding: 0 4px;
    width: 30%;
    height: 100%;
    background-color: white;

    &_active {
      animation: progress-up 3s linear;
    }
  }


  @keyframes progress-visible {
    from {
      height: 0;
      opacity: 0;
    }
    10%{
      height: 6px;
      opacity: 1;
    }
    90%{
      height: 6px;
      opacity: 1;
    }
    to {
      height: 0;
      opacity: 0;
    }
  }

  @keyframes progress-up {
    from {
      width: 0%;
    }
    10%{
      width: 20%;
    }
    90%{
      width: 90%;
    }
    to {
      width: 100%;
    }
  }
}