.workshop {

  &__input {
    margin: 4px 0;
    padding-left: 7px;
    padding-bottom: 3px;
    width: 512px;    
    display: flex;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #DDDDDD;
    

    &::placeholder {
      color: #DDDDDD;
    }

    &:focus {
      outline: 0;
      outline-offset: 0;
      padding-bottom: 0;
      border-bottom: 5px solid white;
      animation: input-underline 0.2s linear forwards;
    }
  }

  &__button {
    margin: 0;
    padding: 8px;
    height: 47px;
    display: flex;
    align-self: center;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 3px;
    transition: all 0.2s linear;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
  }

  &__button-title {
    margin: 0;
    padding: 17px 8px;
    display: flex;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    
  }


}

@keyframes input-underline {
  from {
    padding-bottom: 3px;
    border-bottom: 2px solid white;
  }
  to {
    padding-bottom: 0;
    border-bottom: 5px solid white;
  }
}