.tooltip {
  margin: 0;
  padding: 18px 17px;
  display: none;
  box-sizing: border-box;
  border-radius: 7px;
  background-color: rgba($color: #000000, $alpha: 0.9);
  position: absolute;
  left: var(--X);
  top: var(--Y);
  z-index: 1000;

  &_visible {
    display: flex;
  }

  &__text {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    font-size: 14px;
    color: #C2C2C2;
    letter-spacing: 1px;
  }
}