.news {
  margin: 0;
  padding: 8px 48px 0 24px;
  width: 720px;
  height: 760px;
  box-sizing: border-box;
  display: grid;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  position: absolute;
  top: 24px;
  left: 128px;
  align-items: start;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "logo title"
  "items items";
  overflow-y: scroll;

  &__logo {
    margin: 0;
    padding: 0;
    align-self: center;
    grid-area: logo;
  }

  &__title {
    margin: 0;
    padding: 0;
    color: white;
    grid-area: title;
  }

  &__items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    grid-area: items;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #B6ADAE;    /* цвет плашки */
    border-radius: 2px;       /* закругления плашки */
  }
}