.map {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
  position: relative;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
  border: 0px solid white;
  transition: all 0.2s linear;

  &:hover &__logo {
    scale: 1.02;
  }

  &:hover &__logo_checked {
    scale: 1.2;
  }
  
  &_checked {
    border: 7px solid white;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 1);
  }

  &_checked &__logo {
      scale: 1.2;
      opacity: 1;
    }

  &_checked  &__icon {
      opacity: 1;
    }

  &_checked  &__title{
      opacity: 1;
    }
    
  &_checked  &__time {
      opacity: 1;
    }

  &_checked  &__competitive {
      opacity: 1;
    } 
    

  &__logo {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
    transition: all 0.2s linear;
    
  }

  &__icon {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.8;

    &_visible {
      display: flex;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    max-width: 200px;
    justify-content: center;
    position: absolute;
    font-size: 22px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.8;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__time {
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
    gap: 12px;
    box-sizing: border-box;
    justify-content: center;
    position: absolute;    
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.8;

    &_visible {
      display: flex;
    }
  }

  &__time-icon {
    margin: 0;
    padding: 0;
    width: 12px;
    height: 12px;
  }

  &__time-text {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
  }

  &__checkbox {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    display: flex;
    border: 2px solid white;
    border-radius: 5px;
    position: absolute;
    top: 8px;
    right: 8px;
    opacity: 0.8;

    &_visible {
      background-image: url(../images/map_checkbox_icon.png);
      background-repeat: no-repeat;
      background-position: center;
      opacity: 1;
    }

    &_unvisible {
      opacity: 0;
    }
  }

  &__competitive {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    display: none;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: 0.8;

    &_visible {
      display: flex;
    }
  }
  
}