.new {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  box-sizing: border-box;
  column-gap: 24px;
  row-gap: 8px;  
  overflow: hidden;
  transition: 0.2s linear;

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }

  &:hover &__logo {
    transform: scale(1.1);
  }

  &__logo-block {
    margin: 0;
    padding: 0;
    display: flex;
    min-width: 192px;
    max-width: 192px;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__logo {
    margin: 0;
    padding: 0;
    //width: 100%;
    //height: 100%;
    display: flex;
    object-fit: cover;
    transition: 0.2s linear;
  }

  &__article-block {
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 8px;
    box-sizing: border-box;
    flex-direction: column;
    
  }

  &__title {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
  }

  &__date {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 1px;
  }

  &__text {
    margin: 0;
    padding: 0;
    display: flex;
    max-height: 28px;
    box-sizing: border-box;
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 1px;
    //white-space: nowrap;
    //text-overflow: ellipsis;
    overflow: hidden;
  }

}