.new {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  box-sizing: border-box;
  column-gap: 24px;
  row-gap: 8px;

  &__logo {
    margin: 0;
    padding: 0;
  }

  &__block {
    margin: 0;
    padding: 20px 0;
    max-width: 400px;
    display: flex;
    gap: 8px;
    box-sizing: border-box;
    flex-direction: column;
    
  }

  &__title {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
  }

  &__date {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 10px;
    line-height: 1;
  }

  &__text {
    margin: 0;
    padding: 0;
    display: flex;
    max-height: 28px;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1px;
    //white-space: nowrap;
    //text-overflow: ellipsis;
    overflow: hidden;
  }

}