.customization {
  width: 100%;
  padding: 34px 28px;
  display: grid;
  box-sizing: border-box;
  justify-items: center;
  overflow-y: auto;

  @include vertical-scrollbar;

  &__title {
    margin: 0;
    padding: 60px 0 20px 0;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    color: #CCCCCC;
    letter-spacing: 1.5px;

    &:first-of-type {
      padding-top: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    width: 818px;
    display: flex;
    flex-direction: column;
  }

  &__bottom {
    margin: 0;
    padding: 0 70px;
    height: 96px;
    display: flex;
    gap: 12px;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    border-top: 1px solid $line_color;
  }

  &__button {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;
    border-radius: 2px;
    transition: all 0.2s linear;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
  }

  &__button-icon {
    margin: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    display: flex;
    object-fit: cover;
  }

  &__button-text {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    color: white;
  }

}

.setting {
  margin: 0;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $line_color;

  &_nopadding {
    padding: 0;
  }

  &:last-of-type {
    border-bottom: none;
  }

  &__name {
    margin: 0;
    padding: 0;
    max-width: 430px;
    display: flex;
    font-size: 17px;
    font-weight: 400;
    color: #CCCCCC;
    letter-spacing: 1.5px;
  }
}