.play {

  &__title {
    margin: 0;
    padding: 34px 35px 34px 35px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    border-bottom: 1px solid gray;
    letter-spacing: 1px;
    color: white;
  }

  &__select {
    margin: 0;
    padding: 8px 22px;
    display: flex;
    border-bottom: 1px solid gray;
  }
}
