$time: 0.2s;

.rightBar {
  width: 385px;
  height: 1080px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: black;
  position: absolute;
  top: 0;
  //right: -290px;
  background-color: rgba(0, 101, 252, 0.726);  
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(211, 211, 211, 0.6), rgba(0, 0, 0, 0.7));
  backdrop-filter: blur(20px);
  transition: $time linear;

  &__main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(211, 211, 211, 0.5);
  }

  &__sub {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  &:hover {
    //right: 0;
  }
  /*
  &:hover .tools__item:last-of-type{
    //margin-right: 33px;
  }

  & .tools__item_active{
    //animation: slide 2s linear forwards;
  }

  &:hover .tools__item_active{
    position: relative;
    left: 0;
    //transform: translate(-20px, 0);
    //transition: transform 2s;
  }
  */

}

.profile {
  margin: 0;
  padding: 18px 15px 0 15px;
  display: grid;
  column-gap: 15px;
  grid-template-columns: 66px auto;
  grid-template-areas: 
    "avatar name"
    "avatar medals"
  ;

  &__avatar {
    margin: 0;
    padding: 0;
    width: 64px;
    height: 64px;
    grid-area: avatar;
  }

  &__name {
    margin: 0;
    padding: 0;
    height: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    color: white;
    font-size: 18px;
    line-height: 1;
    grid-area: name;
  }

  &__arrows {
    margin: 0;
    margin-left: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  &__arrow {
    margin: 0;
    padding: 0;
    opacity: 0.5;
    
    &_active {
      opacity: 1;
    }
  }


}

.experience {
  margin: 0;
  padding: 8px 15px 2px 15px;
  display: grid;
  column-gap: 15px;
  row-gap: 0px;
  grid-template-columns: 66px auto;
  grid-template-areas: 
    "logo title"
    "logo progress"
  ;

  &__logo {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 70px;
    grid-area: logo;
  }

  &__title {
    margin: 0;
    padding: 6px 0 0 10px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-self: flex-start;
    align-self: flex-end;
    color: white;
    font-size: 17px;
    grid-area: title;
  }

  &__progress {
    margin: 0 0 0 10px;
    padding: 0;
    height: 20px;
    width: 260px;
    display: flex;
    grid-area: progress;
  }

}

.rank {
  margin: 0;
  padding: 6px 10px;  
  align-items: center;

  &__title {
    margin: 0;
    padding: 0;
    height: 38px;
  }

  &_visible {
    margin-bottom: 4px;
    display: flex;
  }

  &_first {
    display: flex;
    animation: downup1 0.4s ease-in forwards;
  }

  &_second {
    display: flex;
    animation: downup2 0.4s ease-in forwards;
  }

  &_first-visible {
    display: flex;
    visibility: visible;
    animation: updown1 0.4s ease;
  }

  &_second-visible {
    display: flex;
    visibility: visible;
    animation: updown2 0.4s ease-in;
  }

  @keyframes updown1 {
    from {
      margin-top: -5px;
    }
    to {
      margin-top: 0px;
    }
  }

  @keyframes updown2 {
    from {
      margin-top: -40px;
    }
    to {
      margin-top: 0px;
    }
  }

  @keyframes downup1 {
    from {
      margin-top: 0px;
    }
    50% {
      visibility: hidden;
      margin-top: -5px;
      margin-bottom: 5px;
      height: 100%;
    }
    to {
      visibility: hidden;
      margin-top: -5px;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
      height: 0;
    }
  }

  @keyframes downup2 {
    from {
      margin-top: 0px;
    }
    50% {
      visibility: hidden;
      margin-top: -40px;
      margin-bottom: 40px;
      height: 100%;
    }
    90% {
      height: 0;
    }
    to {
      visibility: hidden;
      margin-top: -35px;   
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
      height: 0;
    }
  }




  &__logo {
    margin: 0;
    padding: 0;
    width: 80px;
    height: 33px;
  }

  &__title {
    margin: 0 0 0 18px;
    padding: 0;
    display: flex;
    color: white;
    font-size: 16px;
  }

  &__arrow {
    margin: 0;
    padding: 6px 2px;
    margin-left: auto;
    display: flex;
    width: 14px;
    height: 8px;

    &_up {
      transform: rotate(180deg);
    }

    &_left {
      transform: rotate(90deg);
    }

    &_right {
      transform: rotate(270deg);
    }
  }


}

/*
.tools {
  margin: 0;
  padding: 0 10px 0 20px;
  height: 64px;
  display: flex;
  justify-content: right;
  list-style-type: none;
  align-items: center;

  &__item {
    margin: 0 33px 0 0;
    padding: 0;
    width: 64px;
    display: flex;
    box-sizing:content-box;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 5px solid transparent;

    &:last-of-type {
      margin: 0;
    }

    &:hover {
      padding-bottom: 5px;
      border-bottom: 1px solid white;
    }

    &_active {
      position: absolute;
      left: 20px;

      border-bottom: 5px solid white;
      animation: slow 0.2s linear forwards;

      &:hover {
        padding-bottom: 1px;
        border-bottom: 5px solid white;
      }

      @keyframes slow {
        from {
          padding-bottom: 5px;
          border-bottom: 1px solid rgba(255, 255, 255, 1);
        }
        to {
          padding-bottom: 1px;
          border-bottom: 5px solid rgba(255, 255, 255, 1);
        }
      }

      @keyframes slide {
        from {
          position: absolute;
          left: 0;
        }
        to {
          position: absolute;
          left: 20px;
        }
      }
    }
  }

}

*/
