.gun {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;  
  box-sizing: border-box;
  //position: relative;  
  border: 0px solid white;
  transition: all 0.2s linear;

  &:hover &__image-wrapper {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
  }

  &__image-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    border-left: 6px solid #DED6CC;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: box-shadow 0.2s linear;

    &_red {
      border-left: 6px solid #EB4B4B;
    }

    &_pink {
      border-left: 6px solid #D32CE6;
    }

    &_purple {
      border-left: 6px solid #8847FF;
    }

    &_blue {
      border-left: 6px solid #4B69FF;
    }

    &_industrial {
      border-left: 6px solid #5E98D9;
    }

    &_consumer {
      border-left: 6px solid #B0C3D9;
    }
  }

  &__image {
    margin: 0;
    padding: 0;
    width: 160px;
    height: 121px;
    display: flex;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    border: 1px solid #544D47;
    border-left: none;
  }

  &__sides {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 6px;
    position: absolute;
    top: 6px;
    right: 6px;
  }

  &__side {
    margin: 0;
    padding: 2px;
    width: 8px;
    height: 8px;
    display: none;
    border-radius: 50%;
    background-clip: content-box;

    &_visible {
      display: flex;
    }

    &_t {
      background-color: #BBB964;
      border: 2px solid #BBB964;
    }

    &_ct {
      background-color: #6895B7;
      border: 2px solid #6895B7;
    }
  }

  &__weapon {
    margin: 0;
    padding: 8px 0 0 0;
    width: 100%;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    color: white;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, 0.7));

  }

  &__name {
    margin: 0;
    padding: 2px 0 0 0;
    display: flex;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: white;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, 0.7));
    

    //text-overflow: ellipsis;
    //white-space: nowrap;
    //overflow: hidden;
  }


  &__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba($color: #000000, $alpha: 0.0);
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    &_visible {
      display: flex;
    }
  }

  &__options {
    margin: 0;
    padding: 16px 0;
    width: max-content;
    height: max-content;
    display: none;
    box-sizing: border-box;
    flex-direction: column;
    list-style-type: none;
    color: white;
    border-radius: 5px;
    background-color: rgba($color: #2C2C2C, $alpha: 0.98);
    z-index: 100;
    position: relative;
    top: var(--Y);
    left: var(--X);

    &_visible {
      display: flex;
    }
  }

  &__option {
    margin: 0;
    padding: 18px 32px;
    display: none;
    box-sizing: border-box;

    &_visible {
      display: flex;
    }

    &:hover {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 80%);
    }
    
  }

  &__option-text {
    margin: 0;
    padding: 0;
    display: flex;
    color: lightgrey;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1.5px;
  }
  
}