.gun {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  box-sizing: border-box;
  position: relative;
  
  border: 0px solid white;
  transition: all 0.2s linear;

  &__image-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    border-left: 6px solid #DED6CC;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);

    &_red {
      border-left: 6px solid #EB4B4B;
    }

    &_pink {
      border-left: 6px solid #D32CE6;
    }

    &_purple {
      border-left: 6px solid #8847FF;
    }

    &_blue {
      border-left: 6px solid #4B69FF;
    }

    &_industrial {
      border-left: 6px solid #5E98D9;
    }

    &_consumer {
      border-left: 6px solid #B0C3D9;
    }
  }
    

  &__image {
    margin: 0;
    padding: 0;
    width: 160px;
    height: 121px;
    display: flex;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    border: 1px solid #544D47;
    border-left: none;
  }

  &__weapon {
    margin: 0;
    padding: 8px 0 0 0;
    width: 100%;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.3;
    color: white;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, 0.7));

  }

  &__name {
    margin: 0;
    padding: 2px 0 0 0;
    display: flex;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: white;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, 0.7));
    

    //text-overflow: ellipsis;
    //white-space: nowrap;
    //overflow: hidden;
  }

  
}